---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Impressum | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Impressum"
				tagline="Die Webseite befindet sich noch im Aufbau"
			>
			
			</Hero>

			<section>
				<h2 class="section-title">Postadresse</h2>
				<div class="content">
					<p>
						
Malin Malcic <br>
<br>
Im unteren Kienle 19 A<br>
70184 Stuttgart<br>
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Kontakt</h2>
				<div class="content">
					<p>Telefon: 0172 7615444 <br>
E-Mail: malcic.riederich@gmail.com</p></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Redaktionell <br> verantwortlich</h2>
				<div class="content">
					<p>Malin Malcic</p>
				</div>
			</section>
						<section>
				<h2 class="section-title">Verbraucher足streit足beilegung <br> Universal足schlichtungs足stelle</h2>
				<div class="content">
					<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
